*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: 0.5s ease-in-out;
}


.App{
  margin:0px;
  padding: 0px;
    background: linear-gradient(164deg,#dc92f4,#ffff);
    font-family: Segoe UI;
    height: 100vh;
    transition: 0.5s ease-in-out;
}

.mainContainor{
    margin: 0px 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
}

.contentimg{
    height: 50%;
}

.left{
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    background-color: rgb(255 255 255 / 47%);
    padding: 60px 50px;
    padding-bottom: 100px;
}

.right{
    width: 65%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    background-color: rgb(255 255 255 / 47%);
    padding: 60px 10px;
}

.block{
    margin: 20px 30px;
    margin-bottom: 0px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
    height: auto;
    width: 95%;
    padding: 30px 20px;
    padding-bottom: 0px;
}

.Text{
    font-size: 17px;
    color:black;
    margin-bottom: 20px;
}

.button{
    list-style: none;
    text-decoration: none;
    width: 90%;
    height: 60px;
    border-radius: 20px;
    background-color: #C200FF;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    padding: 20px;
}

.tag{
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.ether{
    font-size: 20px;
    color: black;
    font-weight: bold;
    border: 2px solid rgb(173, 173, 173);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    border-bottom: none;
}

.address_input,.tokan_input{
    font-size: 20px;
    padding: 18px;
    border: none;
    width: 100%;
    border: 2px solid rgb(173, 173, 173);
}

.input_ether{
    font-weight: bold;
    display: flex;
    width: 100%;
    border-top: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.tokan_input{
    font-size: 20px;
    padding: 18px;
    width: 100%;
    border: 2px solid rgb(173, 173, 173);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.address_input_to{
    font-size: 20px;
    padding: 18px;
    width: 100%;
    border: 2px solid rgb(173, 173, 173);
    border-bottom-right-radius: 20px;
}

.tokan_input{
    border-top: none;
}


.content_ether,
.value_ether{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.from,.to{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 20px 0px;
}

.logosmall{
    height: 30px;
    margin-right: 10px;
}

.tag_in{
        font-size: 19px;
    color: black;
    font-weight: bold;
}

.smalltag{
    font-size: 20px;
    color: black;
    font-weight: 400;
    margin-right: 6px;
}

.selection{
    border: none;
    border: 2px solid rgb(173, 173, 173) ;
    border-right: none;
    height: 100%;
    width: 150px;
}

#selected{
    border-bottom-left-radius: 20px;
}

.crypto{
    width: 100%;
    height:100%;
    padding: 20px 10px;
    text-align: center;
    border: none;
    font-size: 15px;
    font-weight: 600;
}

#crypto_to{
    border-bottom-left-radius: 20px;
}

input:active{
    border: none;
}